In [1]:
# print "python is very easy" 5 times

In [2]:
# print all the element of a list one by one using indexing

In [1]:
print("python is easy") 
print("python is easy") 
print("python is easy") 
print("python is easy") 
print("python is easy") 
print("python is easy")

python is easy
python is easy
python is easy
python is easy
python is easy
python is easy

In [2]:
names=["mamta","mayank","tushar","nishi","priyanshu","abdullah","aayush","suhail","aarti"]
names[0]

'mamta'

In [3]:
print(names[1])
print(names[2])
print(names[3])
print(names[4])
print(names[5])
print(names[6])
print(names[7])
print(names[8])

mayank
tushar
nishi
priyanshu
abdullah
aayush
suhail
aarti

In [4]:
for i in range(5):
    print("python is very easy")

python is very easy
python is very easy
python is very easy
python is very easy
python is very easy

In [5]:
for i in range(10):
    print("python is very easy")

python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy

In [6]:
for i in range(20):
    print("python is very easy")

python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy

In [7]:
names=["mamta","mayank","tushar","nishi","priyanshu","abdullah","aayush","suhail","aarti"]
for x in names:
    print(x)

mamta
mayank
tushar
nishi
priyanshu
abdullah
aayush
suhail
aarti

In [18]:
names=["mamta","mayank","tushar","nishi","priyanshu","abdullah","aayush","suhail","aarti"]
for i in names:
    print(i)

mamta
mayank
tushar
nishi
priyanshu
abdullah
aayush
suhail
aarti

In [19]:
for x in range(9):
    print(names[8])

aarti
aarti
aarti
aarti
aarti
aarti
aarti
aarti
aarti

In [12]:
for x in range(9):
    print(names[x])

mamta
mayank
tushar
nishi
priyanshu
abdullah
aayush
suhail
aarti

In [13]:
names=["mamta","mayank","tushar","nishi","priyanshu","abdullah","aayush","suhail","aarti"]
for x in range(9):
    print(range(9))

range(0, 9)
range(0, 9)
range(0, 9)
range(0, 9)
range(0, 9)
range(0, 9)
range(0, 9)
range(0, 9)
range(0, 9)

In [15]:
print(list[x])

list[8]

In [16]:
y=range(10,20)
print(y)
print(list(y))

range(10, 20)
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [6]:
y=range(10,20)
print(y)
print(list(y))

range(10, 20)
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
names=["mamta","mayank","tushar","nishi","priyanshu","abdullah","aayush","suhail","aarti"]
a=range(9)
for x in a:
    print(names[x])

mamta
mayank
tushar
nishi
priyanshu
abdullah
aayush
suhail
aarti

In [4]:
type(x)

int

In [23]:
print(type(x))
print(type(names))
print(type(range))

<class 'int'>
<class 'list'>
<class 'type'>

In [24]:
for x in range(9):
    print(x)

0
1
2
3
4
5
6
7
8

In [7]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [11]:
for x in range(6):
    print(x)
    type(x)

0
1
2
3
4
5

In [13]:
names=["mamta","mayank","tushar","nishi","priyanshu","abdullah","aayush","suhail","aarti"]
names=range(9)
for x in names:
    print(names[x])

0
1
2
3
4
5
6
7
8

In [15]:
type(x)

int

In [21]:
for x in range(9):
    y=x*10
    z=y+3
    print(z)
    print(y)

3
0
13
10
23
20
33
30
43
40
53
50
63
60
73
70
83
80

# ***ITERABLE DATA TYPES***
LIST , SET , TUPLES , DICTIONARY , STRING , RANGE

### ***1-ITERATION MEANS REPETITION***

### ***2-ITERABLE ME MULTIPLE VALUES HOGI***

In [19]:
for a in [12,38,45,69]:    # is program me no of elelment aur unki value kya hai dono se frq pdega
    print("python is easy")
    print(a)

python is easy
12
python is easy
38
python is easy
45
python is easy
69

In [1]:
for a in [12,38,45,69]:      # is program me list me kitne element hai usse frq pdega element ki value kya hai usse frq nhi padega
    print("python is easy")

python is easy
python is easy
python is easy
python is easy

In [2]:
for a in [12,38,45,69]:      
    print("python is easy")
    print(type(a))
    print(a)

python is easy
<class 'int'>
12
python is easy
<class 'int'>
38
python is easy
<class 'int'>
45
python is easy
<class 'int'>
69

In [3]:
for a in ["12","38","45","69"]:      
    print("python is easy")
    print(type(a))
    print(a)

python is easy
<class 'str'>
12
python is easy
<class 'str'>
38
python is easy
<class 'str'>
45
python is easy
<class 'str'>
69

# **conclusion** 
###  ***for loop kitni baar chalega wo decide hoga by the length of iteable***

In [5]:
names=["mamta","mayank","tushar","nishi","priyanshu","abdullah","aayush","suhail","aarti"]
for x in range(5):
    print(names[x])

mamta
mayank
tushar
nishi
priyanshu

In [6]:
word="python"
for letter in word:
    print(letter)

p
y
t
h
o
n

In [19]:
y=0
for x in range(5):
    y=y+x

In [18]:
print(x)
print(y)

4
10

In [31]:
y=0
for x in range(5):
    y=x-y
print(y)
print(x)

2
4

In [35]:
count=0
device="laptop"
for x in device:
    count=count+1
print(count)

6