# FUNCTION

In [10]:
###    def function_name( parameter1 , parameter2 , parameter3 .......):
###        ...code....
### code kitni nhi line ka ho sakta hai 
### 1-function = block of code 
### 2-function use = call function name

In [1]:
def greet():
    print("greeting from vijAI robotics")

In [3]:
greet()

greeting from vijAI robotics

In [5]:
name1="priyanshu"
name2="mayank"
name3="shreya"
print("welcome",name1)
print("greeting from vijAI robotics")
print("welcome",name2)
print("greeting from vijAI robotics")
print("welcome",name3)
print("greeting from vijAI robotics")

welcome priyanshu
greeting from vijAI robotics
welcome mayank
greeting from vijAI robotics
welcome shreya
greeting from vijAI robotics

In [7]:
name1="priyanshu"
name2="mayank"
name3="shreya"
print("welcome",name1)
greet()
print("welcome",name2)
greet()
print("welcome",name3)
greet()

welcome priyanshu
greeting from vijAI robotics
welcome mayank
greeting from vijAI robotics
welcome shreya
greeting from vijAI robotics

In [9]:
def greet_student(name):
    print("welcome",name)
    print("greeting from vijAI robotics")

name1="priyanshu"
name2="mayank"
name3="shreya"

greet_student(name1)
greet_student(name2)
greet_student(name3)

welcome priyanshu
greeting from vijAI robotics
welcome mayank
greeting from vijAI robotics
welcome shreya
greeting from vijAI robotics

In [ ]:
course_name="data science"
batch_timing="10am"

In [1]:
type()

TypeError: type() takes 1 or 3 arguments

In [3]:
def greet():
    print("welcome to ABC")

greet("pankaj")

TypeError: greet() takes 0 positional arguments but 1 was given

In [4]:
def greet(name):
    print("welcome to ABC")

greet("pankaj")

welcome to ABC

In [5]:
def greet(name):
    print("welcome to ABC")

greet()

TypeError: greet() missing 1 required positional argument: 'name'

In [6]:
def greet(name):
    print("welcome to ABC")

greet("")

welcome to ABC

In [1]:
def greet(name):
    print("welcome to ABC")

greet([])

welcome to ABC

In [10]:
def greet(name,ID):
    print("welcome to ABC")

greet("pankaj","vij1")

welcome to ABC

In [11]:
def greet(name,ID):
    print("welcome to ABC")

greet("pankaj")

TypeError: greet() missing 1 required positional argument: 'ID'

In [12]:
def greet(name,ID):
    print("welcome to ABC")

greet()

TypeError: greet() missing 2 required positional arguments: 'name' and 'ID'

In [14]:
def greet(name,ID):
    print("welcome to ABC",name,ID)

greet("pankaj","vij1")

welcome to ABC pankaj vij1

In [15]:
def greet(name,ID):
    print("welcome to ABC",name,ID)

greet("pankaj","vij1")
greet("suraj","vij1")

welcome to ABC pankaj vij1
welcome to ABC suraj vij1

In [17]:
def greet(name,ID):
    print("welcome to ABC",name,ID)
    std_id=name + "_" + ID
    
greet("pankaj","vij1")
greet("suraj","vij1")

welcome to ABC pankaj vij1
welcome to ABC suraj vij1

In [19]:
def greet(name,ID):
    print("welcome to ABC",name,ID)
    std_id=name + "_" + ID
    print(std_id)
    
greet("pankaj","vij1")
greet("suraj","vij1")

welcome to ABC pankaj vij1
pankaj_vij1
welcome to ABC suraj vij1
suraj_vij1

# **RETURN STATEMENT**

In [11]:
def enroll(name,id):
    print(name,"is enroll")
    std_id=name+"_"+id
    return std_id
name1="priyanshu"
id="vij1"
std1=enroll(name1,id)
print(name1,"your student is",std1)

priyanshu is enroll
priyanshu your student is priyanshu_vij1

In [12]:
def enroll(name,id):
    print(name,"is enroll")
    std_id=name+"_"+id
    inst_name="vijai robotics"
    return std_id,inst_name
name1="priyanshu"
id="vij1"
std1=enroll(name1,id)
print(name1,"your student is",std1)

priyanshu is enroll
priyanshu your student is ('priyanshu_vij1', 'vijai robotics')

In [16]:
print(std1)

priyanshu_vij1

In [7]:
def enroll(name,id):
    print(name,"is enroll")
    std_id=name+"_"+id
    inst_name="vijai robotics"
    return std_id,inst_name
name1="priyanshu"
id="vij1"
std1,std_inst=enroll(name1,id)
print(name1,"your student is",std1)

priyanshu is enroll
priyanshu your student is priyanshu_vij1

In [8]:
print(std_id,std_inst)

NameError: name 'std_id' is not defined

In [3]:
x=18
y=type(x)
print(y)

<class 'int'>

In [4]:
x=18
type(x)
z=10

In [26]:
def enroll(name,id):
    print(name,"is enrolled")
    std_id=name+"_"+id
    print(std_id)
name1="tushar"
id1="vij1"
adm_id1=enroll(name1,id1)

name2="nishi"
id2="vij2"
adm_id2=enroll(name2,id2)

print(adm_id1)
print(adm_id2)

tushar is enrolled
tushar_vij1
nishi is enrolled
nishi_vij2
None
None

In [28]:
def enroll(name,id):
    print(name,"is enrolled")
    std_id=name+"_"+id
    print(std_id)
    return std_id
name1="tushar"
id1="vij1"
adm_id1=enroll(name1,id1)

name2="nishi"
id2="vij2"
adm_id2=enroll(name2,id2)

print("1.",adm_id1)
print("2.",adm_id2)

tushar is enrolled
tushar_vij1
nishi is enrolled
nishi_vij2
1. tushar_vij1
2. nishi_vij2

In [24]:
def enroll(name,id):
    print(name,"is enrolled")
    std_id=name+"_"+id
    return std_id
name1="tushar"
id1="vij1"
std_id1=enroll(name1,id1)

name2="nishi"
id2="vij2"
std_id2=enroll(name2,id2)

print(std_id1)
print(std_id2)

tushar is enrolled
nishi is enrolled
tushar_vij1
nishi_vij2

In [14]:
def enroll(name,id):
    print(name,"is enrolled")
    std_id=name+"_"+id
    return std_id
name1="tushar"
id1="vij1"
std_id1=enroll(name1,id1)
print(name1,"your student is",id1)

name2="nishi"
id2="vij2"
std_id2=enroll(name2,id2)
print(name2,"your student is",id2)

tushar is enrolled
tushar your student is vij1
nishi is enrolled
nishi your student is vij2

# return ka use tab karna hoga jab hume diff values use karni hau same elelment ki agr print karenge to ek baar hi use hoga code

In [18]:
def enroll(name,id):
    print(name,"is enrolled")
    std_id=name+"_"+id
    return std_id
name1="tushar"
id1="vij1"
enroll(name1,id1)

name2="nishi"
id2="vij2"
enroll(name2,id2)

tushar is enrolled
nishi is enrolled

'nishi_vij2'

In [1]:
def enroll_student():
    name=input("enter the name of the student")
    enroll_date=input("enter date of enrollment")
    student_id=name+"_"+"vij2025"
    return name,enroll_date,student_id

In [2]:
name1,enroll_date1,student_id1 = enroll_student()

enter the name of the student priyanshu
enter date of enrollment 20

In [7]:
print("name of student:",name1)
print("enrollment date of student:",enroll_date1)
print("studet_id:",student_id1)

name of student: priyanshu
enrollment date of student: 20
studet_id: priyanshu _vij2025

In [14]:
def enroll_student():
    name=input("enter the name of the student")
    enrollment_date=input("enter date of enrollment")

    if enrollment_date[6:]=="2025":
        student_id=name+"_"+"vij_2025"
    else:
        student_id=name+"_"+"vij_2024"
    return name,enrollment_date,student_id

name2,enroll_date2,student_id2=enroll_student()

enter the name of the student priyanshu
enter date of enrollment 20/09/25

In [17]:
print(name2,student_id2,enroll_date2)

priyanshu priyanshu_vij_2024 20/09/25

In [19]:
def square(x):
    print(x**2)
a=square(3)
square(2)
print(a)

9
4
None

In [22]:
def square(x):
    return x**2
a=square(3)
square(2)
print(a)

9