# CORE DATA TYPES IN PYTHON

### MUTABLE D.T (LIST , DICT , SETS )
- Data types in python wher the value assigned to a variable can be changed but memory adress never changes some mutable data types in python include set ,  list , user defned classy and dictionary

### IMMUTABLE D.T (COMPLEX NO , TUPLES , FLOAT , INTEGER , STRING)
- data types in python where the value assigned to a variable cannot br changed some immutale data types are INT , FLOAT , TUPLES BOOLEAN , RANGE AND STRING

### PYTHON LIST (MUTABLE/UNHASABLE/SEQUENCE DATA TYPES)
##### PROPERTIES OF LIST 
- mutable: the element of list can be modified we  can remove or add items to the list after it has been created (under particular operational condition)
- ordered: the items in the list are ordered each item has a unique index value the new item will be added to the end of the list(under particular operational condition)
- heterogenous: the list csn contain different kind of element i.e they can contain elememt of string int boolean or any type(under particular operational condition)
- duplicates: the list can contain duplicate i.e list can have two items with the same value(under particular operational condition)
- iterable: python an iterable refer to an object that can be iterted over , meaning you can loop through its element one by one (under particular operational condition)

In [9]:
my_list=[2,3,4,5,6,7,8]

In [10]:
my_list[0:4]

[2, 3, 4, 5]

In [11]:
my_list[3]

5

In [12]:
my_list[1:6]

[3, 4, 5, 6, 7]

In [13]:
len(my_list)

7

In [1]:
x=[1,2,3,4,6,7,8,9]

In [2]:
print(id(x))

2086566525312

In [3]:
x=[1,2,3,4,7,8,9]

In [4]:
print(id(x))

2086566512192

In [6]:
shyam=[1,2,3,4,6,7,8,9]

In [7]:
id(shyam)

2086566566976

In [8]:
x is shyam

False

In [9]:
x is not shyam

True

In [13]:
my_list=[[1,2,3],{3,5,9},2.5,(3,4,7)]

In [14]:
print(my_list)

[[1, 2, 3], {9, 3, 5}, 2.5, (3, 4, 7)]

In [19]:
my_list=[[1,2,3],{3,5,9},2.5,(3,4,7),95,95,95,95,95,95,95,95,95,[1,2,9],[1,2,9],("ayush"),("priyanshu")]

In [20]:
print(my_list)

[[1, 2, 3], {9, 3, 5}, 2.5, (3, 4, 7), 95, 95, 95, 95, 95, 95, 95, 95, 95, [1, 2, 9], [1, 2, 9], 'ayush', 'priyanshu']

In [23]:
set1={2,3,5,3,9}

In [26]:
print(set1)

{9, 2, 3, 5}

# CREATING A PYTHON LIST

THIS LIST CAN BE CREATED EITHER THE LIST CONSTRUCTOR OR USING SQUARE BRACKET.
- USING   list() CONSTRUCTOR IN GENERAL THE CONSTRUCTOR OF A CLASS HAS ITS CLASS NAME SIMILARLY CRETE A LIST BY PASSING THE COMMON SEPARATED VALUES INSIDE THE LIST()
- USING SQUARE BRACKET[]: IN THIS METHOD WE CREATE A LIST SIMPLY BY ENCLOSING THE ITEMS INSIDE THE SQUARE BRACKET

In [27]:
# ITERABLE DATA TYPE 
list1=[1,7,90]
tuple1=(1,6,8,90)
set1={2,7,90,67}
str1='aditya'

In [28]:
my_list=([1,7,90],(1,6,8,90),{2,7,90,67},'aditya')

In [37]:
list2=list[(1,3,5,7,9)]
print(list2)

list[1, 3, 5, 7, 9]

In [36]:
list2=list((1,3,5,7,9))
print(list2)

[1, 3, 5, 7, 9]

In [35]:
list2=list({1,3,5,7,9})
print(list2)

[1, 3, 5, 7, 9]

In [34]:
list2=list(('1,3,5,7,9'))
print(list2)

['1', ',', '3', ',', '5', ',', '7', ',', '9']

In [1]:
tuple=(2,4,6,8,10,12)

In [2]:
list3=list((2,4,6,8,10,12))
print(list3)

[2, 4, 6, 8, 10, 12]

In [3]:
str1='aayush'
list4=list(('aayush'))
print(list4)

['a', 'a', 'y', 'u', 's', 'h']

In [7]:
list5=list(['aayush'])
print(list5)

['aayush']

In [1]:
a="aayush"

In [5]:
a[-2]

's'

In [7]:
a[5]

'h'

In [8]:
a[0:4]

'aayu'

In [9]:
a[0:5]

'aayus'

In [2]:
list=[2,4,8,9]

In [3]:
list[0]

2

In [28]:
list[0:2]

[2, 4]

In [37]:
list[0]+list[1]

6

In [35]:
list[2]*3

24

In [48]:
(list[0:2])

[2, 4]

In [52]:
'0'+'1'

'01'

In [59]:
str(list)

'[2, 4, 8, 9]'

In [62]:
str(list[0])+str(list[1])

'24'

In [63]:
int(str(list[0])+str(list[1]))

24

In [65]:
set[int(str(list[0])+str(list[1]))]

set[24]

# concatenation

In [71]:
list1=[1,2]
list2=[3,4]
list3=[5,6]
list4=[7,8]
list1+list2+list3+list4

[1, 2, 3, 4, 5, 6, 7, 8]

In [106]:
my_list=[2,4,9,8]

In [107]:
id(my_list)

1575553196800

In [19]:
list = my_list[ : :-1]

NameError: name 'my_list' is not defined

In [113]:
id(my_list)

1575553196800

In [8]:
list=[9,5,15,19]

In [9]:
list[0]

9

In [10]:
type(list[0])

int

In [1]:
list1=[1,2,7,9]

In [2]:
list1[0]

1

In [3]:
list(list1[0])

TypeError: 'int' object is not iterable

In [4]:
list1(1)

TypeError: 'list' object is not callable

### we cannot make an integer a list because integer is not iterable 
### list is iterable 
### we can make list of all these data type which are iterable (eg tuple string and set and dic)
### int,complex no are not iterable ,so we cannot change them into list by the help of list

In [9]:
int1=2,5

In [10]:
list(int1)

[2, 5]

In [11]:
type(list(int1))

list

In [12]:
type(int1)

tuple

In [13]:
int=25
list(int1)

[2, 5]

In [14]:
int2=(29)

In [15]:
type(int2)

int

In [16]:
int2=2,9

In [17]:
type(int2)

tuple

In [22]:
list1=[1,4,6,9]
my_list2=list[ : :-1]    # slicing always give a new list 
print(my_list2)
print(id(list1))

list[slice(None, None, -1)]
3057505190592

In [23]:
id(my_list2)

3057505279472

In [26]:
list6=[[2],5,9]
list(list6[0])   # list constructor can contain only one argument and it should be iterable

[2]

In [25]:
list8=[[12,7,8,9],8,3]

In [28]:
list(list8[0])

[12, 7, 8, 9]

In [25]:
list3=[1,3,6,7]

In [29]:
list3.append(9)
print(list3)

[1, 3, 6, 7, 9, 9, 9, 9]

In [30]:
list3.append([29])
print(list3)

[1, 3, 6, 7, 9, 9, 9, 9, [29]]

In [31]:
list3.append({35,46})
print(list3)

[1, 3, 6, 7, 9, 9, 9, 9, [29], {35, 46}]

In [32]:
list3.append('24,37,48')
print(list3)

[1, 3, 6, 7, 9, 9, 9, 9, [29], {35, 46}, '24,37,48']

In [33]:
list3.extend(3)
print(list3)

TypeError: 'int' object is not iterable

In [35]:
list3.extend([23])
print(list3)                # extend will contain only iterable

[1, 3, 6, 7, 9, 9, 9, 9, [29], {35, 46}, '24,37,48', 23, 23]

In [2]:
list=[1,3,4,5,6,7,8,9,0]

In [3]:
list[2:3]

[4]

In [4]:
len(list)

9

In [9]:
list=[1,3,4,5,6,7,8,9,0]
if not list:
    print("my list is empty")
else:
     print("list is not empty")

list is not empty

In [10]:
my_list=[1,2,3,4,5,6,7,8,9]

In [13]:
my_list[0:3]

[1, 2, 3]

In [15]:
set[my_list[0:3]]

set[[1, 2, 3]]

In [19]:
my_list[ : :-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [20]:
remove element 
remove 600 from the list 
sum of all int in list

SyntaxError: invalid syntax (1025795226.py, line 1)

In [48]:
p=[10,20,30,50,70]

In [49]:
sum(p)

180

In [50]:
p.insert(70,600)

In [51]:
sum(p)

780

In [3]:
str1='priyanshu'
for i in str1:
print(i)

IndentationError: expected an indented block after 'for' statement on line 2 (3196194736.py, line 3)

In [6]:
str1='priyanshu'
for i in str1:
    print(i)

p
r
i
y
a
n
s
h
u

In [10]:
str1='priyanshu'
for i in str1:
    if i=='p':
        print(i)

p

In [11]:
str1='priyanshu'
for i in str1:
    if i=='a':
        print(i)

a

In [12]:
str1='priyanshu'
for i in str1:
    if i=='a':
        print(list=[i])

TypeError: 'list' is an invalid keyword argument for print()

In [13]:
str1='priyanshu'
for i in str1:
    if i=='a':
        print([i])

['a']

In [15]:
str1='priyanshu'
for i in str1:
    if i=='a':
        print([i,i**2])

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [16]:
str1='priyanshu'
for i in str1:
    if i=='a':
        print([i,i*2])

['a', 'aa']

In [17]:
str1='priyanshu'
for i in str1:
    if i=='a':
        print([i,i*2,5])

['a', 'aa', 5]

In [18]:
str1='priyanshu'
for i in str1:
    if i=='a':
        print('*')

*

In [9]:
str1='priyanshu'
for i in str1:
    print('*                 *')

*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *

In [20]:
str1='priyanshu'
for i in str1:
    for i in str1:
        print(i)

p
r
i
y
a
n
s
h
u
p
r
i
y
a
n
s
h
u
p
r
i
y
a
n
s
h
u
p
r
i
y
a
n
s
h
u
p
r
i
y
a
n
s
h
u
p
r
i
y
a
n
s
h
u
p
r
i
y
a
n
s
h
u
p
r
i
y
a
n
s
h
u
p
r
i
y
a
n
s
h
u

In [12]:
set1={2,2,5,9}
print(set1)

{9, 2, 5}

In [13]:
set1[0] #subscriptale = cannot be indexing and slicing

TypeError: 'set' object is not subscriptable

In [14]:
list(set1)

[9, 2, 5]

In [21]:
set_1=(2,2,4,9)
set_2=(3,3,8,7)

In [12]:
('set_1') union ('set_2')

SyntaxError: invalid syntax (2451328528.py, line 1)

In [13]:
'set1' union 'set2'

SyntaxError: invalid syntax (3205313374.py, line 1)

In [14]:
'set1' U 'set2'

SyntaxError: invalid syntax (620838298.py, line 1)

In [15]:
set_1.union(set_2)

AttributeError: 'tuple' object has no attribute 'union'

In [16]:
'set1' intersection 'set2'

SyntaxError: invalid syntax (3657349350.py, line 1)

In [19]:
set_1.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [18]:
set_1.intersection(set_2)

AttributeError: 'tuple' object has no attribute 'intersection'

In [20]:
set1.add(set2)

NameError: name 'set1' is not defined

In [1]:
set_1={2,2,4,9}
set_2={3,3,8,7}

In [2]:
set_1.union(set_2)

{2, 3, 4, 7, 8, 9}

In [3]:
set_1.intersection(set_2)   #union intersection subtraction symmetric diff  , add set1.set2.update

set()

In [4]:
set_1.subtraction(set_2)

AttributeError: 'set' object has no attribute 'subtraction'

In [7]:
set_1-(set_2)

{2, 4, 9}

In [8]:
set_1.add(set_2)

TypeError: unhashable type: 'set'

In [6]:
set_1.add(set_2)

TypeError: unhashable type: 'set'

In [14]:
add[5].set_1.set_2.update

NameError: name 'add' is not defined

In [16]:
set_1.symmetric_difference(set_2)  #COMMON HTA DEGA SYMM DIFF

{2, 3, 4, 7, 8, 9}

In [10]:
set_1.symmetric_difference(set_2)  #COMMON HTA DEGA SYMM DIFF

NameError: name 'set_1' is not defined

# comments multiline

In [11]:
''' hello world
goodmorning everyone
we are working on 
python data types '''

' hello world\ngoodmorning everyone\nwe are working on \npython data types '

multiline comments