# VARIABLES
- a variable is a container thAT stores data in the memory of your computer

<font size="5"> what is a <b>variable</b>?

In [17]:
print("neeraj is in python batch") 
print("ayush is in ML batch") 
print("nishi is in python batch") 
print("suraj is in ML batch")

neeraj is in python batch
ayush is in ML batch
nishi is in python batch
suraj is in ML batch

In [18]:
print("nishi and neeraj are in python batch") 
print("ayush and suraj are in ML batch")

nishi and neeraj are in python batch
ayush and suraj are in ML batch

In [19]:
print("himanshu is in python batch") 
print("suhail  is in ML batch") 
print("akhilesh is in python batch") 
print("pankaj is in ML batch")

himanshu is in python batch
suhail  is in ML batch
akhilesh is in python batch
pankaj is in ML batch

In [20]:
print("himanshu and akhilesh are in python batch") 
print("suhail and pankaj are in ML batch")

himanshu and akhilesh are in python batch
suhail and pankaj are in ML batch

In [21]:
std1= "nishi"
std2="suraj"
std3="priyanshu"
std4="suhail"
std5="himanshu"
std6="alkhilesh"
std7="neeraj"
std8="ayush"

batch1="python batch"
batch2="ML batch"

In [22]:
print(std1,"is in",batch1)
print(std2,"is in",batch2)

nishi is in python batch
suraj is in ML batch

In [23]:
print(std3,"is in",batch1)
print(std4,"is in",batch2)

priyanshu is in python batch
suhail is in ML batch

In [24]:
#INTEGER
age1 =14
age2 =25

In [25]:
print(age1)
print(age2)

14
25

In [26]:
print(age1+age2)

39

In [27]:
print(age1-age2)

-11

In [28]:
print(std1,"is",age1,"years old")

nishi is 14 years old

In [29]:
height="175.5 cm"
weight="75.23 kg"


print("height is",height,"\nweight is",weight)

height is 175.5 cm
weight is 75.23 kg

In [30]:
height = "175.2 cm"
weight = "75.2 kg"


print("height is",height,"\nweight is",weight)

height is 175.2 cm
weight is 75.2 kg

in the foll cell syntax error is coming bcause a valid data type is not being stored in the variable 
height and weight

In [31]:
bmi = (height) / (weight**2)
print("BMI IS",bmi)

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [32]:
"175.5"/100

TypeError: unsupported operand type(s) for /: 'str' and 'int'

#### typecasting

In [33]:
height=189
print(type(height))

<class 'int'>

In [34]:
#int -> float
height=float(height)
print(type(height))
print(height)

<class 'float'>
189.0

In [35]:
height=str(height)
print(type(height))
print(height)

<class 'str'>
189.0

In [36]:
height="height"
print(type(height))
print(height)

<class 'str'>
height

In [37]:
greeting=int(greeting)
print(greeting)

NameError: name 'greeting' is not defined

In [ ]:
greeting="123"
greeting=int(greeting)
print(greeting)
print(type(greeting))

In [38]:
1std="suhel"

SyntaxError: invalid decimal literal (1531194201.py, line 1)

In [39]:
std@1="suhel"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3883279921.py, line 1)

In [40]:
std_1="suhel"

In [41]:
std2="pankaj"

# rules for names of variables
- a  variale name must start with an alphabet or an underscore
- a variale name cannot start with a number or any special character 
- a variable name can only conatin alphabet numbers and underscore 
- the use of special character is prohibited
- variable name are case sensitive in python
- python keywords cannot be used as variales name

In [42]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [43]:
false = 23

In [44]:
continue=24

SyntaxError: invalid syntax (993395603.py, line 1)

In [45]:
animal1="c"+"a"+"t" #"c"+"a"+"t" is an expression
print(animal1)

cat

In [46]:
animal2="dog"
combined_animal=animal1+animal2
print(combined_animal)

catdog

In [47]:
type(combined_animal)

str

In [48]:
new_variable=12+34
# 12+34 is an expressiom
print(new_variable)

46

In [49]:
height=175.2
weight=78
bmi=weight/((height/100)**2)
print(bmi)

25.41127165822231


# python is case sensitive

In [50]:
a=12
b=A

NameError: name 'A' is not defined

In [51]:
0student1="gaurav"
student2="rohit"
student3="kartik"
print(student1)
print(student2)
print(student3)

SyntaxError: invalid decimal literal (1716495127.py, line 1)

In [52]:
std1,std2,std3="gaurav","rohit","kartik"
print(std1)
print(std2)
print(std3)

gaurav
rohit
kartik

In [53]:
name,age,height="rohit",25,265.3
print(name,age,height)

rohit 25 265.3

In [54]:
name age height="rohit" 25 265.3
print(name,age,height)

SyntaxError: invalid syntax (1606115830.py, line 1)

In [55]:
print std1+std2+std3

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2540950455.py, line 1)

In [56]:
print("std1"+"std2"+"std3")

std1std2std3

In [57]:
user1_age=20
print(user1_age)

20

In [58]:
user1_age=40
print(user1_age)

40

In [59]:
user1_age="forty five"
print(user1_age)

forty five

to define a vaiable whose value we do not want ti change in the whole program we write the name of that variale in capital letters this is a common practice but not enforced by python

In [60]:
PI=3.14 #CONSTANT
print(PI)

3.14

IT IS STILL POSSIBLE TO CHANGE THE VALUE OF TYIS CONSTANT VARIABLE

In [61]:
x=21
print(x)

21

In [62]:
x=10
y=20
z=x+y
print(z)

30

In [63]:
del x

In [64]:
print(X)

NameError: name 'X' is not defined

In [65]:
print(z)

30

#### z is independe nt of x and y its existance is not dependent on the existance of x and y once z has been created

In [43]:
#write a program to swap the value of two variable var_1 and var_2
var_1=23
var_2=94
var_3=var_1

In [44]:
var_1=var_2
var_2=var_3

In [45]:
print(var_1)
print(var_2)

94
23

In [73]:
var_1,var_2=var_2,var_1
print(var_1)
print(var_2)

94
23

In [74]:
x="for"

In [9]:
True="hello world"

SyntaxError: cannot assign to True (2249180451.py, line 1)

In [10]:
is_True="hello world"

In [11]:
true="hello world"

In [12]:
for=123

SyntaxError: invalid syntax (1643191954.py, line 1)

For=123

In [20]:
x=10
y=20
x=y
y=30
print(x,y)

20 30

In [24]:
x=100
y=200
print(x,y)

100 200

In [25]:
y=x/2
x=y/2
print(x,y)

25.0 50.0

In [26]:
y=x/2
x=y/2
print(x,y)

6.25 12.5

In [27]:
y=x/2
x=y/2
print(x,y)

1.5625 3.125