In [1]:
x=1
while x<5:
    print(x)
    x=x+1

1
2
3
4

In [1]:
x="steve jobs"
while len(x)<20:
    print("steve jobs = picasso + edison")
    print(len(x))
    x = x + " "

steve jobs = picasso + edison
10
steve jobs = picasso + edison
11
steve jobs = picasso + edison
12
steve jobs = picasso + edison
13
steve jobs = picasso + edison
14
steve jobs = picasso + edison
15
steve jobs = picasso + edison
16
steve jobs = picasso + edison
17
steve jobs = picasso + edison
18
steve jobs = picasso + edison
19

In [ ]:
while True:
    print("saransh")

#INFINITE LOOP

In [5]:
while False:
    print("saransh")

In [6]:
for i in range(20):
    print("python is very easy")

python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy

In [9]:
i=1
while i<=20:
    print("python is very easy")
    i=i+1

python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy

In [11]:
x=10
while x>=10:
    print(x)
    x=x-1

10

In [12]:
x=100
while x>=10:
    print(x)
    x=x-5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10

In [15]:
x=100
while x>=10:
    print(x)
    x=8

100

In [ ]:
x=100
while x>=10:
    print(x)
    x=16

#INFINITE LOOP

In [11]:
names=["mamta","mayank","tushar","nishi","priyanshu","abdullah","aayush","suhail","aarti"]
x=0
while x<=8:
    print(names[x])
    x=x+1

mamta
mayank
tushar
nishi
priyanshu
abdullah
aayush
suhail
aarti

In [1]:
names=["mamta","mayank","tushar","nishi","priyanshu","abdullah","aayush","suhail","aarti","saransh"]
x=0
while x>=0:
    print(names[x])
    x=x+1

mamta
mayank
tushar
nishi
priyanshu
abdullah
aayush
suhail
aarti
saransh

IndexError: list index out of range

In [ ]:
while True:
    num1=float(input("enter first number"))
    num2=float(input("enter second number"))
    operator=input("enter operator(+,-,/,*)")

    if operator=="+":
        result=num1+num2

    elif operator=="-":
        result=num1-num2

    elif operator=="/":
        result=num1/num2

    elif operator=="*":
        result=num1*num2

    else:
        print("invalid operator")
        continue
    print("result",result)

enter first number 09
enter second number 78
enter operator(+,-,/,*) %

invalid operator

enter first number 7
enter second number 5
enter operator(+,-,/,*) *

result 35.0

enter first number 5
enter second number 8
enter operator(+,-,/,*) 9

invalid operator

In [7]:
x=12
if x<8:
    print(x)
    print("indent")

In [8]:
x=12
if x<8:
    print(x)
    
print("indent")

indent

In [1]:
while True:
    num1=float(input("enter first number"))
    num2=float(input("enter second number"))
    operator=input("enter operator(+,-,/,*)")

    if operator=="+":
        result=num1+num2

    elif operator=="-":
        result=num1-num2

    elif operator=="/":
        result=num1/num2

    elif operator=="*":
        result=num1*num2

    else:
        print("invalid operator")
        continue
    print("result",result)
    again=input("do you want to continue?").lower()
    if again != "YES":
        break
    else:
        continue

enter first number 43
enter second number 34
enter operator(+,-,/,*) +

result 77.0

do you want to continue? yes

# FUNCTION CALCULATOR

In [2]:
def calculator():
    num1=float(input("enter first number"))
    num2=float(input("enter second number"))
    operator=input("enter operator(+,-,/,*)")

    if operator=="+":
        return num1+num2

    elif operator=="-":
        return num1-num2

    elif operator=="*":
        return num1*num2

    elif operator=="/":
        return num1/num2

    else:
        print("invalid operator")

calculator()

enter first number 34
enter second number 34
enter operator(+,-,/,*) +

68.0

In [ ]:
while True:
    ing_1=input("ing_1")
    ing_2=input("ing_2")
    ing_3=input("ing_3")
    tea_flavour=input("tea flavour(milk,lemon,masala)")

    if tea_flavour=="milk":
        print("milk_tea")

    elif tea_flavour=="lemon":
        print("lemon_tea")

    elif tea_flavour=="masala":
        print("masala_tea")

    else:
        print("unflavoured tea")

ing_1 tea leaf
ing_2 ginger
ing_3 boil water
tea flavour(milk,lemon,masala) green

unflavoured tea

## **concept role**
- outer loop control the number of rows(vertical dimension)
- inner loop control characters per row(horizontal dimension)
- print(...,end=" ")keep printing in the same line
- print() moves to the next line after a row is done
- logic in inner decides what to print *,number,space,etc
- condition (if)used for shapes like hollow boxes ,diagonal etc

# ***pro tips to practice***
start with:

for i in range(n):for j in range(m):print("?",end=" ")print()

then change 

? = i,j,ijetc